# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (virtualenv, venv)
venv/
env/
.env/

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de logs
*.log

# Carpeta de caché de pip, wheel y otros
pip-wheel-metadata/
*.egg-info/

# Archivos generados de build, distribución
build/
dist/
*.egg

# Archivos específicos de sistema operativo
.DS_Store
Thumbs.db

# Otros archivos generados
instance/
.pytest_cache/
.coverage

# Si usas archivos .env para variables de entorno, ignóralos también
.env
